extends layout

block content
  h1= title
  p This app lets you scrape all comments from a given YouTube video. The comments can be donwloaded as one of the following:
  ul
    li CSV*
    li JSON
  p
    em *easily imported into Excel 
  p The source code is licensed under the ISC license and available on 
    a(target="_blank" href="https://github.com/philbot9/youtube-comment-web") github.
    
  
