extends layout

block content
  .card.yturl-card.col-md-1
    form#scrape-form(name='scrape-form', action='/scrape', method='post')
      #url-input.input-group.url-container.col-md-1.has-feedback
        input#yt-url.form-control.search-query(type='text', name='yt-url', placeholder='YouTube URL')
        span.input-group-btn
          input#scrape-btn.btn(type='submit', value='Scrape', data-type='last' disabled)


  .card.main-card.col-md-1
    #main-content
      h4 Download comments from YouTube
      p This website allows you to download (scrape) all comments from a given YouTube video. The results include the comment text, username, date and other information.
      p The comments can be downloaded as one of the following:
      ul
        li JSON
        li CSV
          em  (can be opened in Excel)
      p This project is open source and the source code is available on
        a(target='_blank' href='https://github.com/philbot9/youtube-comment-scraper') &nbsp;GitHub.
      p <b>Found an issue?</b> Please
        a(href='/report')  report it.
      .text-center.footer
        a(target='_blank' href='http://philip.klostermann.ca/') &copy; 2015 Philip Klostermann
