extends layout

block content
  //script(type='text/javascript', src='/javascripts/index.js')
  .card.yturl-card.col-md-1
    form(name="scrape-form", id="scrape-form", action="/scrape", method="post")
      .input-group.url-container.col-md-1
        input(type='text', name='yt-url', class='form-control search-query', id='yt-url', placeholder='Youtube URL')
        span.input-group-btn
          input(type='submit', value='Scrape', class='btn btn-danger', data-type='last', id='scrape-btn')

  
  .card.main-card.col-md-1
    #main-content
      h4 Collect comments from Youtube
      p This app allows you to scrape all comments from a given YouTube video. The comments can be downloaded as one of the following:
      ul
        li CSV*
        li JSON
      p
        em * easily imported into Excel 
      p The project is open source and the source code is available on 
        a(target="_blank" href="https://github.com/philbot9/youtube-comment-web") GitHub.
      .text-center.footer © 2015 Philip Klostermann
  
