doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='javascripts/index.js')
  body
    header 
      .yt-url-container
        input(type='text', name='yt-url', id='yt-url', placeholder='Youtube URL')
        input(type='button', value='Scrape', name='scrape-btn', id='scrape-btn')
    .container
      .main-card
        #main-content
          block content
    footer
      p Philip Klostermann © 2015