doctype html
html
  head
    title Youtube Comment Scraper
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootflat/css/site.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/libs/jquery.min.js')
    script(src='/bootflat/js/site.min.js')
    script(src='/javascripts/script.js')
  body 
    nav.navbar.navbar-default.navbar-static-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/')
            i.fa.fa-comments-o.site-logo
            span.site-title Youtube Comment Scraper
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right          
            li
              a(href='/')
                i.fa.fa-home
            li
              a(target="_blank" href='https://github.com/philbot9/youtube-comment-web')
                i.fa.fa-github
            li
              a(target="_blank" href='http://philip.klostermann.ca/')
                i.fa.fa-user
      
    .container
      block content
