html {
  position: relative;
}

body {
  background: #ededed;
  position: relative;
}

a {
  color: #DA4453;
  text-decoration: none;
}
  a:hover {
    color: #ED5565;
    text-decoration: underline;
  }
  a:visited {
    color: #DA4453;
    text-decoration: none;
  }
  a:active {
    color: #DA4453;
    text-decoration: none;
  }

.scrape-options {
  position: relative;
  margin: 20px auto;
  max-width: 800px;
}

.icheckbox_flat {
  margin-right: 10px;
}

.navbar-default {
  background: rgb(44, 62, 80);
  padding: 25px;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #EFEFEF;
  font-size: 14pt;
}
  .navbar-default .navbar-nav>li>a:hover {
    color: #DA4453;
  }

.navbar-default .navbar-toggle {
  border-color: #DA4453;
  background-color: #DA4453;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ED5565;
}
  
.site-logo {
  position:relative;
  top: 3px;
  font-size: 36pt;
  margin-right: 10px;
}

.site-title {
  position: relative;
  top: -3px;
  font-weight: 600;
  font-size: 18pt;
  color: #EFEFEF;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
  a > .site-title:hover {
    text-decoration: none;
  }
  a > .site-title:visited {
    text-decoration: none;
  }

#ajax-container {
  position: relative;
  height: 100%; 
  overflow: hidden;
}

.url-container {
  width: 100%;
  min-width: 100px;
  position: relative;
}

#yt-url {
  font-size: 1.1em;
}

.card {
  position:relative;
  width: 100%;
  padding: 20px 35px;
  margin: 10px 0;
  background: #fefefe;
  box-shadow: 5px 5px 10px #dddddd;
}


.footer {
  padding-top: 20px;
  padding-bottom: 0;
  background: none;
}

.text-center {
  color: #aaaaaa;
}

