html {
  position: relative;
}

body {
  background: #F1F1F1;
  position: relative;
}

.navbar-default {
  background: rgb(44, 62, 80);
  padding: 25px;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
  font-size: 14pt;
}
  .navbar-default .navbar-nav>li>a:hover {
    color: #4FC1E9;
  }


.navbar-default .navbar-toggle {
  border-color: #3BAFDA;
  background-color: #3BAFDA;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #4FC1E9;
}
  
.site-logo {
  position:absolute;
  top: -10px;
  font-size: 85pt;
  opacity: 0.15;
  margin-right: 10px;
  color: #4FC1E9;
}
  .site-logo:hover {
    opacity: 0.5;
  }

.site-title {
  position: relative;
  top: 12px;
  font-weight: 600;
  font-size: 18pt;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
  .site-title:hover {
    color: #4FC1E9;
  }
  
.url-container {
  width: 100%;
  min-width: 100px;
  position: relative;
}

#yt-url {
  font-size: 1.2em;
}

.card {
  position:relative;
  width: 100%;
  padding: 20px 35px;
  margin: 10px 0;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dddddd;
}

.footer {
  padding-top: 20px;
  padding-bottom: 0;
  background: none;
}
  .footer a {
    color: #aaaaaa;
  }
  .footer a:hover {
    color: #555555;
    text-decoration: underline;
  }

.text-center {
  color: #aaaaaa;
}

