html {
  position: relative;
}

body {
  background: #F1F1F1;
  position: relative;
}

.navbar-default {
  background: rgb(44, 62, 80);
  padding: 25px;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
  font-size: 15pt;
}
  .navbar-default .navbar-nav>li>a:hover {
    color: #ed5565;
  }

.nav-text {
  font-size: 11pt;
  font-weight: normal;
}

.navbar-default .navbar-toggle {
  border-color: #3BAFDA;
  background-color: #3BAFDA;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #4FC1E9;
}

.site-logo {
  position:absolute;
  top: 5px;
  font-size: 80pt;
  opacity: 0.8;
  margin-right: 10px;
  color: #ed5565;
}
.site-title {
  position: relative;
  top: 16px;
  font-weight: 800;
  font-size: 16pt;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow:
     -1px -1px 0 #202E3C,
      1px -1px 0 #202E3C,
      -1px 1px 0 #202E3C,
       1px 1px 0 #202E3C;
}
  .site-title:hover {
    color: #ed5565;
  }

.title-large {
  font-size: 1.4em;
}

.url-container {
  width: 100%;
  min-width: 100px;
  position: relative;
}

#yt-url {
  font-size: 1.2em;
}

.card {
  position:relative;
  width: 100%;
  padding: 20px 35px;
  margin: 10px 0;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dddddd;
}

.footer {
  padding-top: 20px;
  padding-bottom: 0;
  background: none;
}
  .footer a {
    color: #aaaaaa;
  }
  .footer a:hover {
    color: #555555;
    text-decoration: underline;
  }

.text-center {
  color: #aaaaaa;
}
